* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: #111111;
    color: #f8f8f8;
    font-family: 'Lato', sans-serif;
    height: 100vh;
}

.header-container
{
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding:  0 35px;
}

.header-container__logo
{
    display: flex;
    align-items: center;
    font-size: 25px;
}

.navigation__list
{
    list-style: none;
    display: flex;
    align-items: center;
    font-weight: 400;

}
.navigation-list-item:hover{
    border-bottom: 2px solid #5a06a8;

}

.navigation-list-item
{
    transition: border-bottom 300ms;
    margin-right: 50px;
    border-bottom: 2px solid transparent;
    padding-bottom: 8px;
    cursor: pointer;
    font-size: 20px;
    width: 90px;
    text-align: center;
}


.hero__text
{
    width: 40%;
    font-weight: 400;
    text-align: center;
    border-radius: 5px;
    margin-left: 50px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.hero__text > h1
{
    font-size: 90px;
}


.section__main__header-text-sec
{
    margin-bottom: 20px;
    font-size: 35px;
}

.section-main__parag
{
    font-size: 20px;   
}


.section__main
{
    width: 100vw;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: space-between;
}

.hero-hero-avatar-container
{
    width: 40%;
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 20px;
    position: relative;
}

.hero-av
{
    width: 100%;
    bottom: 0;
    position: absolute;
    bottom: 0;
}

.main__action-btns
{
    margin-top: 20px;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.btn 
{
    cursor: pointer;
    font-size: 20px;
    padding: 10px 20px;
    width: 150px;
    border: #5a06a8 2px solid;
    border-radius: 50px;
    outline: none;
    background-color: transparent;
    color: #fff;
    transition: background-color 300ms;

}
.see-more
{
    background-color: #5a06a8;
}
.hire-me:hover
{
    background-color: #5a06a8;
}